.pb-4 {
    padding-bottom: -1.5rem !important;
}

.sub-style {
    padding: 10px;
}

.sub-title {
    font-family: 'Montserrat', sans-serif; /* or Poppins */
    font-size: 20px;
    font-weight: 600;
    color: #2c3e50;
    line-height: 1.5;
}

