     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">About Us</h3>
            <ol class="breadcrumb justify-content-center text-white mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a routerLink="" class="text-white">Home</a></li>
                <li class="breadcrumb-item"><a href="#" class="text-white">Pages</a></li>
                <li class="breadcrumb-item active text-secondary">About</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-fluid overflow-hidden py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="bg-warning rounded">
                        <img src="assets/img/New.jpeg" class="img-fluid w-100 border-bottom border-5 border-warning" style="border-top-right-radius: 300px; border-top-left-radius: 300px;" alt="Image">
                    </div>
                </div>
                <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                    <h5 class="sub-title pe-3">About The SRBS</h5>
                    <h1 class="display-5 mb-4">A Legacy of Learning and Service</h1>
                    <p class="mb-4">   Founded in 2022, Shree R B Singh Educational and Public Welfare Trust (SRBS TRUST) is named after the late Shree R B Singh Ji, a visionary from rural Uttar Pradesh who believed education was a sacred duty to society.</p>

<p class="mb-4">Established by Abhishek Singh, a computer science graduate and successful entrepreneur, SRBS TRUST is a tribute to his grandfather’s life-long mission to uplift his village and surrounding regions through knowledge, dignity, and inclusive development.</p>
</div>
</div>
<div class="mb-5">
  <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Building sustainable infrastructure for villages</p>
  <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Providing accessible quality education through SRBS Gurukul</p>
  <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Enabling free medical assistance and public health outreach</p>
  <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Supporting women, children, and the elderly with dignity</p>
  <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> Promoting cleanliness, solar lighting, and community safety</p>
  <div class="container-fluid contact overflow-hidden py-5">
        <div class="container py-5">
            <div class="row g-5 mb-5">
                <div class="col-lg-12 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="sub-style">
                        <h5 class="sub-title text-primary pe-3">Why Choose Us?</h5>
                    </div>
                    <h1 class="display-5 mb-4">The Trust Focuses On: </h1>
                    <!-- <p class="mb-5"><strong>Advanced Technology-</strong>  </p> -->
                    <div class="d-flex border-bottom mb-4 pb-4">
                        <!-- <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i> -->
                        <div class="ps-3">
                            <h5>1.Building sustainable infrastructure for villages:</h5>
                            <h6>With half a decade in the industry, our team compromise highly skilled professionals with deep knowledge of web hosting and server management.</h6>
                        </div>

                    </div>

                    <!-- second -->



                    <div class="d-flex border-bottom mb-4 pb-4">
                        <!-- <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i> -->
                        <div class="ps-3">
                            <h5>2.Providing accessible quality education through SRBS Gurukul:</h5>
                            <h6> We serve customers worldwide, ensuring seamless and robust hosting services for businesses and individual alike.</h6>
                        </div>

                    </div>


                    <div class="d-flex border-bottom mb-4 pb-4">
                        <!-- <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i> -->
                        <div class="ps-3">
                            <h5>3.Enabling free medical assistance and public health outreach:</h5>
                            <h6>  Our dedicated support team is available around the clock via live chat, and we gurantee a swift response to support tickets within just 10 minutes. </h6>
                        </div>

                    </div>



                    <div class="d-flex border-bottom mb-4 pb-4">
                        <!-- <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i> -->
                        <div class="ps-3">
                            <h5>4.Supporting women, children, and the elderly with dignity:</h5>
                            <h6>     We utilize the latest hosting infrastructure, ensuring optimal performance, security, and reliability for your websites. </h6>
                        </div>

                    </div>


                    <div class="d-flex border-bottom mb-4 pb-4">
                        <!-- <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i> -->
                        <div class="ps-3">
                            <h5>5.Promoting cleanliness, solar lighting, and community safety:</h5>
                            <h6>    Your success is our priority. We go the extra mile to provide personalized support tailored to your needs.   </h6>
                        </div>

                    </div>



<div class="sub-style">
            <h5 class="sub-title text-primary pe-3">At SRBS Trust, we are committed to empowering communities through education, sustainable development, and inclusive welfare programs. Join us in shaping a brighter, more equitable future for all.
</h5>
 </div>




                </div>

            </div>

        </div>
    </div>
</div>

</div>

</div>







