<!-- Header Start -->
<header class="custom-header">
  <div class="header-left">
    <img src="assets/img/new.png" alt="SRBS Logo" class="logo" />
    <span class="foundation-text">Shree RB Singh Educational & Public Welfare Trust</span>
  </div>
  <div class="header-right">
    <span class="contact-info">
      <i class="fas fa-envelope"></i>abhishek21591&#64;rediffmail.com
      <i class="fas fa-phone-alt"></i>+919718982251
    </span>
  </div>
</header>

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 py-2 shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="#">
      <img src="assets/img/new.png" alt="Logo" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="trustees" class="nav-link">Trustees</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="vision-mission" role="button" data-bs-toggle="dropdown">
            Vision & Mission
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="SRBS-Gurukul" class="nav-link">SRBS Gurukul</a>
        </li>
        <li class="nav-item">
          <a routerLink="village-project" class="nav-link">🔹 VILLAGE TRANSFORMATION PROJECTS</a>
        </li>
        <li class="nav-item">
          <a routerLink="founder" class="nav-link">🔹Founder</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link">Contact</a>
        </li>
      </ul>
      <a class="btn btn-danger px-3" routerLink="reseller-hosting">Donate & Support</a>
    </div>
  </div>
</nav>
