<div class="container-fluid overflow-hidden py-5">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
        <div class="bg-light rounded">
          <img src="assets/img/project.jpg"  class="img-fluid-w-1000"  alt="Image"></div>
        </div>
        <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.3s">

          <h2 class="display-5 mb-4">VILLAGE TRANSFORMATION PROJECTS</h2>
          <div class="sub-style">
            <h5 class="sub-title text-primary pe-3">SRBS TRUST envisions Model Villages with:</h5>
          </div>
          <div class="mb-5">
            <p class="text-primary h6 mb-3">✅ Cleanliness drives & dustbin distributions</p>
            <p class="text-primary h6 mb-3">✅ Solar lights and CCTV security</p>
            <p class="text-primary h6 mb-3">✅ Underground sewerage and clean toilets</p>
            <p class="text-primary h6 mb-3">✅ Road safety signs and smart shelters</p>
            <p class="text-primary h6 mb-3">✅ Free online classes for students</p>
            <p class="text-primary h6 mb-3">✅ Digital tablets, books & stationary drives</p>
            <p class="text-primary h6 mb-3">✅ Medical checkups and medicine banks</p>
            <p class="text-primary h6 mb-3">✅ Emergency support in marriages and elder care</p>
            <p class="text-primary h6 mb-3">✅ Green belt development and animal shelters</p>

          </div>

        </div>
 <div class="sub-style">
            <h5 class="sub-title text-primary pe-3">We aim to integrate sustainable infrastructure with cultural dignity and digital access.
</h5>
          </div>
      </div>
    </div>
  </div>




















