<div class="container-fluid overflow-hidden py-5">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
        <div class="bg-light rounded">
          <img src="assets/img/New Gurukul.jpg"  class="img-fluid-w-1000"  alt="Image"></div>
        </div>
        <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.3s">

          <h1 class="display-5 mb-4">SRBS GURUKUL</h1>
          <p class="mb-4">SRBS Gurukul Group of Institutes is our flagship educational vision, dedicated to healthcare-focused programs such as Pharmacy and Nursing, making quality education accessible to rural students.</p>
          <div class="sub-style">
            <h5 class="sub-title text-primary pe-3">Key Benefits:</h5>
          </div>
          <div class="mb-5">
                                <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Government-compliant degrees in healthcare sectors</p>
                                <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Immediate placement potential via UP Govt. hospital expansion</p>
                                <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Campus near major village clusters within a 50 km radius</p>
                                <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i>Affordable, scholarship-based learning model</p>
                                <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> Hostel, digital classrooms, and skill labs planned</p>
                                 <h5 class="sub-title text-primary pe-3">Status:</h5>
            <p class="text-primary h6 mb-3">📍 Land identified but buying is pending </p>
            <p class="text-primary h6 mb-3">🛠 Construction planning started</p>
            <p class="text-primary h6 mb-3">🤝 Seeking funding and institutional support</p>
                            </div>


          </div>
        </div>
      </div>
    </div>




















